In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
raw_data_df = pd.read_csv('../data/TIGPSw1_s.csv')

/var/folders/70/_kqz373j67x45fzvlzzjnn300000gq/T/ipykernel_7507/2783162099.py:1: DtypeWarning: Columns (19,29,152,324,340,368,383,481,483,505,507,529,531,553,555,577,579,603,627) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data_df = pd.read_csv('../data/TIGPSw1_s.csv')

In [3]:
raw_data_df

,qb_code,q_name,nstudent_id,nschool_id,nclass,school_class,school_type,seat_n,as1,as2,...,as79,as80,as81,as81a,as82,as83,as84,attach,attach2,response
0,CO01,2023國中段正式施測-學生問卷A,s0020100001,2,1,201,2,1,2,99,...,3,1,1,-6,160.0,40.0,2,1,NaN,3
1,CO01,2023國中段正式施測-學生問卷A,s0020100002,2,1,201,2,2,2,99,...,3,1,1,-6,158.0,47.0,2,1,NaN,3
2,CO01,2023國中段正式施測-學生問卷A,s0020100003,2,1,201,2,3,2,99,...,3,1,1,-6,173.0,63.0,4,1,NaN,3
3,CO01,2023國中段正式施測-學生問卷A,s0020100004,2,1,201,2,5,2,99,...,2,1,1,-6,166.0,65.0,6,1,NaN,3
4,CO01,2023國中段正式施測-學生問卷A,s0020100005,2,1,201,2,6,2,98,...,2,1,1,-6,167.0,60.0,5,1,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,CO01,2023國中段正式施測-學生問卷A,s1390204664,139,2,13902,1,15,1,98,...,1,5,3,-6,153.0,41.0,4,2,NaN,3
8954,CO01,2023國中段正式施測-學生問卷A,s1390204665,139,2,13902,1,16,2,98,...,3,1,1,-6,173.0,71.0,6,1,NaN,3
8955,CO01,2023國中段正式施測-學生問卷A,s1390204666,139,2,13902,1,17,1,99,...,1,5,2,3,155.0,55.0,4,1,NaN,3
8956,CO01,2023國中段正式施測-學生問卷A,s1390204667,139,2,13902,1,18,2,99,...,-9,-9,-9,-9,-9.0,-9.0,-9,1,NaN,3
8957,CO01,2023國中段正式施測-學生問卷A,s1390204668,139,2,13902,1,19,1,98,...,1,3,2,5,148.0,35.0,1,1,NaN,3

In [4]:
# # 使用繁體中文註解
# 從 JSON 檔案讀取 id_map
with open('tigps_w1_id_map.json', 'r', encoding='utf-8') as f:
    loaded_id_map = json.load(f)

In [5]:
# # 使用繁體中文註解
# 創建一個新 DataFrame，欄位名為中文說明 (注意：不是所有變項名稱都在 id_map 中，需處理 KeyError)
descriptive_df = raw_data_df.rename(columns=loaded_id_map)

In [6]:
descriptive_df

,題本編號,問卷名稱,學生 ID,學校 ID,班級,學校班級 ID,學校類型,(一)個人與家庭基本資料 座號,請問你的性別(生理性別)?,請問你是哪一年出生?,...,"你開始長鬍子了嗎?(男生回答,女生請填1)","妳的胸部開始發育了嗎?(女生回答,男生請填1)","妳的月經來了嗎?是在什麼時候?(女生回答,男生請填1)",是在什麼時候來的? (若s81回答2),請問你的身高 ___公分,請問你的體重 ___公斤,請勾選出你認為最符合你目前體型的選項:,請問您是否有意願參與附加問卷填寫?,填寫之附加問卷類型,問卷作答類型
0,CO01,2023國中段正式施測-學生問卷A,s0020100001,2,1,201,2,1,2,99,...,3,1,1,-6,160.0,40.0,2,1,NaN,3
1,CO01,2023國中段正式施測-學生問卷A,s0020100002,2,1,201,2,2,2,99,...,3,1,1,-6,158.0,47.0,2,1,NaN,3
2,CO01,2023國中段正式施測-學生問卷A,s0020100003,2,1,201,2,3,2,99,...,3,1,1,-6,173.0,63.0,4,1,NaN,3
3,CO01,2023國中段正式施測-學生問卷A,s0020100004,2,1,201,2,5,2,99,...,2,1,1,-6,166.0,65.0,6,1,NaN,3
4,CO01,2023國中段正式施測-學生問卷A,s0020100005,2,1,201,2,6,2,98,...,2,1,1,-6,167.0,60.0,5,1,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,CO01,2023國中段正式施測-學生問卷A,s1390204664,139,2,13902,1,15,1,98,...,1,5,3,-6,153.0,41.0,4,2,NaN,3
8954,CO01,2023國中段正式施測-學生問卷A,s1390204665,139,2,13902,1,16,2,98,...,3,1,1,-6,173.0,71.0,6,1,NaN,3
8955,CO01,2023國中段正式施測-學生問卷A,s1390204666,139,2,13902,1,17,1,99,...,1,5,2,3,155.0,55.0,4,1,NaN,3
8956,CO01,2023國中段正式施測-學生問卷A,s1390204667,139,2,13902,1,18,2,99,...,-9,-9,-9,-9,-9.0,-9.0,-9,1,NaN,3
8957,CO01,2023國中段正式施測-學生問卷A,s1390204668,139,2,13902,1,19,1,98,...,1,3,2,5,148.0,35.0,1,1,NaN,3

In [7]:
# --- 檢查步驟 ---

# 取得原始 DataFrame 的所有欄位名稱集合
# 如果您還沒載入 raw_df，請先載入
original_columns = set(raw_data_df.columns)

# 取得 id_map 中所有的鍵 (即預期要被替換的變項名稱) 集合
map_keys = set(loaded_id_map.keys())

# 找出在原始欄位中，但不在 id_map 鍵中的欄位
# 這些就是沒有被 id_map 涵蓋到的欄位
unmapped_columns = original_columns - map_keys

# 找出在 id_map 鍵中，但不在原始欄位中的條目
# 這表示 id_map 可能包含數據檔中不存在的變項，或者變項名稱有誤
unused_map_keys = map_keys - original_columns

# # 使用繁體中文註解
# 檢查結果
if not unmapped_columns:
    print("恭喜！所有原始數據欄位都在 id_map 中找到了對應項。")
else:
    print("注意：以下原始數據欄位在 id_map 中找不到對應的說明，因此它們不會被重新命名：")
    # 為了更好的可讀性，轉換為列表並排序
    print(sorted(list(unmapped_columns)))
    print("\n可能原因：")
    print("1. id_map 不完整，缺少這些變項的條目。")
    print("2. 這些欄位是原始數據中額外增加的欄位（例如，管理用變數、合併後的變數等）。")
    print("3. 原始數據欄位名稱或 id_map 中的鍵有輕微的打字錯誤或格式差異。")

if unused_map_keys:
    print("\n額外提示：以下 id_map 中的鍵在您的原始數據欄位中不存在：")
    # 為了更好的可讀性，轉換為列表並排序
    print(sorted(list(unused_map_keys)))
    print("\n可能原因：")
    print("1. 這些變項可能未包含在您目前使用的數據檔案版本中。")
    print("2. id_map 中的鍵有打字錯誤或格式差異。")

print("\n--- 檢查完成 ---")

# --- 您可以接著檢查 renamed_df 的欄位 ---
# 如果您已經執行了 rename
# renamed_columns = set(renamed_df.columns)
# print("\n重新命名後的欄位列表（部分預覽）：")
# print(list(renamed_columns)[:20]) # 預覽前 20 個

恭喜！所有原始數據欄位都在 id_map 中找到了對應項。

額外提示：以下 id_map 中的鍵在您的原始數據欄位中不存在：
['s12', 's14', 's15', 's16', 's18', 's18a', 's18b', 's18c', 's18d', 's22a', 's23', 's24', 's25', 's28', 's29', 's31a', 's32', 's32c', 's33', 's33c', 's35', 's36', 's37', 's38', 's39', 's4', 's40', 's41', 's42', 's49', 's50', 's51a', 's51b', 's51c', 's52a', 's52b', 's53a', 's53b', 's53c', 's54a', 's54b', 's55', 's56', 's57', 's58', 's59', 's6', 's60', 's61', 's62', 's65', 's66', 's67', 's67a', 's67b', 's68', 's68a', 's68b', 's68c', 's68d', 's69', 's7', 's70', 's70b', 's70d', 's70f', 's70h', 's70j', 's70l', 's70n', 's70p', 's71', 's72', 's73', 's8', 's9']

可能原因：
1. 這些變項可能未包含在您目前使用的數據檔案版本中。
2. id_map 中的鍵有打字錯誤或格式差異。

--- 檢查完成 ---